.red-input {
  border-radius: 100%;
  /* display:none; */
  accent-color: #418cfc;
  color-interpolation-filters: linearRGB;
  height: 20px; /* not needed */
  width: 50px; /* not needed */
  
}
.form {
  background-color: white;
  margin-top: -20px;
  border-radius: 20px;
  box-sizing: border-box;
  height: 500px;
  padding: 20px;
  width: 90%;
}

.title {
  color: #eee;
  font-family: sans-serif;
  font-size: 36px;
  font-weight: 600;
  margin-top: 30px;
}

.subtitle {
  color: #eee;
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
}

.input-container {
  height: 50px;
  position: relative;
  width: 100%;
}

.ic1 {
  margin-top: 40px;
}

.ic2 {
  margin-top: 30px;
}

.input {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;
}
.pincode {

    background-color: white;
    border-radius: 12px;
    border: 0;
    box-sizing: border-box;
    font-size: 18px;
    height: 100%;
    outline: 0;
    padding: 4px 20px 0;
    width: 100%;

}
.state {

  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}
.firstname {
  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}
.lastname {

  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}
.add {

  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}
.landmark, .phone {

  background-color: white;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  font-size: 18px;
  height: 100%;
  outline: 0;
  padding: 4px 20px 0;
  width: 100%;

}

.cut {
  background-color: white;
  border-radius: 10px;
  height: 20px;
  left: 20px;
  position: absolute;
  top: -20px;
  transform: translateY(0);
  transition: transform 200ms;
  width: 76px;
}

.cut-short {
  width: 50px;
}

.input:focus ~ .cut,
.input:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}

.pincode:focus ~ .cut,
.pincode:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.state:focus ~ .cut,
.state:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.firstname:focus ~ .cut,
.firstname:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.lastname:focus ~ .cut,
.lastname:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.add:focus ~ .cut,
.add:not(:placeholder-shown) ~ .cut {
  transform: translateY(8px);
}
.landmark:focus ~ .cut,
.landmark:not(:placeholder-shown) ~ .cut ,.phone:focus ~ .cut,
.phone:not(:placeholder-shown) ~ .cut{
  transform: translateY(8px);
}
.placeholder {
  color: #65657b;
  font-family: sans-serif;
  left: 20px;
  line-height: 14px;
  pointer-events: none;
  position: absolute;
  transform-origin: 0 50%;
  transition: transform 200ms, color 200ms;
  top: 20px;
}

.input:focus ~ .placeholder,
.input:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.input:not(:placeholder-shown) ~ .placeholder {
  color: #808097;
}

.input:focus ~ .placeholder {
  color: #24aeb1;
}

.pincode:focus ~ .placeholder,
.pincode:not(:placeholder-shown) ~ .placeholder,.state:focus ~ .placeholder,
.state:not(:placeholder-shown) ~ .placeholder,.firstname:focus ~ .placeholder,
.firstname:not(:placeholder-shown) ~ .placeholder,.lastname:focus ~ .placeholder,
.lastname:not(:placeholder-shown) ~ .placeholder,.add:focus ~ .placeholder,
.add:not(:placeholder-shown) ~ .placeholder,.landmark:focus ~ .placeholder,
.landmark:not(:placeholder-shown) ~ .placeholder,.phone:focus ~ .placeholder,
.phone:not(:placeholder-shown) ~ .placeholder {
  transform: translateY(-30px) translateX(10px) scale(0.75);
}

.pincode:not(:placeholder-shown) ~ .placeholder,.state:not(:placeholder-shown) ~ .placeholder ,.lastname:not(:placeholder-shown) ~ .placeholder,.firstname:not(:placeholder-shown) ~ .placeholder,.add:not(:placeholder-shown) ~ .placeholder,.landmark:not(:placeholder-shown) ~ .placeholder,
.phone:not(:placeholder-shown) ~ .placeholder{
  color: #808097;
}

.pincode:focus ~ .placeholder ,.state:focus ~ .placeholder,.firstname:focus ~ .placeholder,.lastname:focus ~ .placeholder,.add:focus ~ .placeholder,.landmark:focus ~ .placeholder,.phone:focus ~ .placeholder{
  color: #24aeb1;
}

.submit {
  background-color: #08d;
  border-radius: 12px;
  border: 0;
  box-sizing: border-box;
  color: #eee;
  cursor: pointer;
  font-size: 18px;
  height: 50px;
  margin-top: 38px;
   outline: 0;
  text-align: center;
  margin-left: 20px;
  width: 100%;
}

.submit:active {
  background-color: #06b;
}



